<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품 추가</title>
</head>
<body>
    <form th:action="@{/task/product}" method="post" th:object="${productVO}" >
        <input th:field="*{productName}" placeholder="상품명"/>
        <input th:field="*{productPrice}" class="inputNum" placeholder="상품가격"/>
        <input th:field="*{productStock}" class="inputNum" placeholder="상품재고"/>
        <input th:field="*{productBrand}" placeholder="브랜드명"/>
        <button type="button">완료</button>
    </form>
</body>
</html>
<script th:inline="javascript">
    const inputs = document.querySelectorAll("input");
    const button = document.querySelector("button");
    const form = document.querySelector("form");

    button.addEventListener("click", () => {
        for(let input of inputs){
            if(input.className === "inputNum"){
                if(!isFinite(input.value)){
                    alert("숫자 입력란이 잘못 입력되었습니다.")
                    return;
                }
            }
            form.submit();
        }
    })
</script>